# Answering questions from the CEO
### Business expansion to New York City

In [1]:
import numpy as np
import pandas as pd

# open csv file with pandas
data = pd.read_csv("../AB_NYC_2019.csv")

In [2]:
# show the table columns and the first 5 rows
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

### What is the average rent in NYC?

1. Find the column that show the rent amount
2. Calculate the average of this column

In [3]:
# store all values of the 'price' column in a variable
rent_price = data.loc[:, "price"]
# calculate and print the average rent in NYC
rent_mean = np.mean(rent_price)
print(f"The average rent in NYC is U${rent_mean:.1f}")

The average rent in NYC is U$152.7

### What are the names of the regions in NYC?

1. Find the region column
2. Show only unique names

In [4]:
# store all region values
regions = data.loc[:, "neighbourhood_group"]
# bring the unique regions found
unique_regions = pd.unique(regions)
print(f"The existing regions in NYC are: {unique_regions}")

The existing regions in NYC are: ['Brooklyn' 'Manhattan' 'Queens' 'Staten Island' 'Bronx']

### What is the most expansive daily rental in NYC?

1. Select the rental columns
2. Find the maximum value of this column

In [5]:
rent_price = data.loc[:, "price"]
# seek maximum value
price_max = np.max(rent_price)
print(f"The maximum rental price in NYC is U${price_max}")

The maximum rental price in NYC is U$10000